#=== SYSTEM ENVIRONMENT ===#
# local - development - staging - production
NODE_ENV=local
PRODUCT_NAME=Kubernetes Microservices
PROJECT_ID=authentication-service
PROJECT_NAME=Authentication Service
PROJECT_PROTOTYPE=http
PROJECT_DOMAIN=localhost
PROJECT_SUPPORT_NAME=Felix Lee
PROJECT_SUPPORT_EMAIL=felix.le.236@gmail.com


#=== WEB API ===#
ENABLE_WEB_API=true
WEB_API_PORT=3010
WEB_API_URL=http://localhost:3010
WEB_API_PRIVATE_KEY=CPxHB2bL73K87G4g4cEX6XhuV4ZBngVNmCArTQG4DRcfcEC9GHbLpUaW2rVKVMqwPgDZMP4TdUz6hNExaNceYjgeQ29pysdHUmjXHMkXp592pgJpGAMzaPDTnFMJZvrM

#=== INTERNAL API ===#
ENABLE_INTERNAL_API=true
INTERNAL_API_PORT=3012
INTERNAL_API_URL=http://localhost:3012
INTERNAL_API_PRIVATE_KEY=ru7L3646ZEXApypzj84ncy5XEBCYKdcAwrpHQueguZ9Us2Ev5fKBSmkfMvVvppCYZkBgyrCx6d9CqwCk6s2d7HkZG9RPWDEaJavsdqV2qtkJ9A2dUMVesrVnFcj9t3ev

#=== SWAGGER UI ===#
ENABLE_SWAGGER_UI=true
SWAGGER_UI_PORT=4010
SWAGGER_UI_URL=http://localhost:4010
SWAGGER_UI_BASIC_USER=apidoc
SWAGGER_UI_BASIC_PASS=123456
SWAGGER_UI_APIS=web,internal

#=== RABBITMQ CONFIGURATION ===#
ENABLE_RABBITMQ=true
RABBITMQ_HOST=127.0.0.1
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PREFIX=local
RABBITMQ_EXCHANGE=auth


#=== DATABASE CONFIGURATION ===#
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=micro_auth
DB_USER=postgres
DB_PASS=123456

#=== DB CACHING CONFIGURATION ===#
DB_CACHING_HOST=127.0.0.1
DB_CACHING_PORT=6379
DB_CACHING_PASSWORD=123456
DB_CACHING_PREFIX=auth-caching_


#=== AUTHENTICATION SERVICE ===#
AUTH_SIGNATURE=HS256
AUTH_SECRET_KEY=mwGAPb8uwN9MMGdg9CbzPhssARDL9E7fggHdLbwRb5A4p4w9NHAAJjN4sZXyWWMrCnCfj4quCyG2qKmY2C9Qnk5j5MRDV8rTJXfKvaM9S2wLkGjERWvtmmakzHeGZV6r


#=== LOG SERVICE ===#
# WINSTON (1) - GOOGLE_WINSTON (2)
LOG_PROVIDER=1
